.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header{
  justify-content: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.active {
  background-color: #2999D6
}
.main-header-menu{
  background-color: #2942D6
}
.btn-primary{
  background-color: #29D6BD !important;
}
.header{
 text-align: center;
 background-color: #2942D6;
 color: #2999D6
}
.card-body{
  text-align: center;
  background-color: #2999D6;
  border: solid;
  border-color: white;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2999D6 !important;
}

.about-me img{
  max-width: 50vh;
  max-height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer {
  margin-top: auto;
}
.footer>a{
  margin:5px;
}
.badge{
  background-color:  #29D6BD !important;
}
.resume{
  display:flex;
  max-width: 175px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
